<!-- app-body.component.html -->
<div class="h-100 w-100 bg-light px-3 py-4">

  <!-- Box grafico -->
  <div class="mb-4">
    <div class="card shadow-sm p-3">
      <h5 class="mb-3 fw-semibold">GMU Index</h5>
      <div class="rounded chart-placeholder bg-secondary-subtle text-center py-4">
        <app-chart></app-chart>
      </div>
    </div>
  </div>

  <!-- Cards area -->
  <div class="row gy-4">

    <!-- Stat Card -->
    <!--     <div class="col-12 col-md-6 col-xl-4">
      <div class="card shadow-sm p-3">

        <div class="mb-3">
          <h6 class="text-muted mb-1">Average Price</h6>
          <div class="d-flex justify-content-between align-items-center">
            <span class="fw-semibold text-primary fs-6" title="0,0212758889443078">0.02127</span>
            <div class="progress flex-grow-1 ms-2" style="height: 6px;">
              <div class="progress-bar bg-primary" style="width: 30%"></div>
            </div>
          </div>
        </div>

        <div class="mb-3">
          <h6 class="text-muted mb-1">Max Price</h6>
          <div class="d-flex justify-content-between align-items-center">
            <span class="fw-semibold text-success fs-6" title="0,0780000937107493">0.07800</span>
            <div class="progress flex-grow-1 ms-2" style="height: 6px;">
              <div class="progress-bar bg-success" style="width: 75%"></div>
            </div>
          </div>
        </div>

        <div>
          <h6 class="text-muted mb-1">Min Price</h6>
          <div class="d-flex justify-content-between align-items-center">
            <span class="fw-semibold text-danger fs-6" title="0,00236782068882726">0.00236</span>
            <div class="progress flex-grow-1 ms-2" style="height: 6px;">
              <div class="progress-bar bg-danger" style="width: 15%"></div>
            </div>
          </div>
        </div>

      </div>
    </div> -->

    <!-- CTA Card -->
    <div class="col-12 col-md-6 col-xl-4">
      <div class="card shadow-sm p-3 text-center d-flex flex-column justify-content-around h-100">
        <div>
          <h5 class="fw-bold mb-2">Become a Founder</h5>
          <p class=" mb-1  fs-6 text-muted">You can transform the global economy!</p>
        </div>
        <a class="  p-2 d-flex justify-content-center align-items-center btn btn-success fw-bold fs-4 rounded-pill text-light" [routerLink]="['/contributors']" routerLinkActive="router-link-active" >BUY YOUR TOKENS</a>
      </div>
    </div>

    <!-- Exchange Rate Card -->
    <div class="col-12 col-md-6 col-xl-4">
      <div class="card shadow-sm p-3 text-center">
        <h6 class="text-muted mb-2">LastPrice</h6>
        <h4 class="text-success fw-bold mb-3 text-truncate">{{(lastprice$ | async)}} GMU</h4>
        <div class="progress" style="height: 6px;">
          <div class="progress-bar bg-success" style="width: 75%"></div>
        </div>
      </div>
    </div>

  </div>
</div>
