<!-- app-body.component.html -->
<div class="h-100 w-100 bg-light fs-1">

  <!-- Box grafico -->
  <div class="p-2 m-0  w-100">
      <section class="mb-4 h-100">
        <div class="h-100 card shadow-sm p-4">
          <h5 class="card-title">Spending Overview</h5>
          <div class="chart-placeholder h-100 bg-secondary-subtle text-center py-5 rounded">[Grafico qui]</div>
        </div>
      </section>
  </div>

  <!-- Card centrata -->
  <div class="col-12 d-flex justify-content-center">
    <!-- Stat Boxes -->
    <section class=" d-flex justify-content-center">
      <div class="w-95 d-flex justify-content-center">
        <div class="c mx-2">

          <div class="card shadow-sm p-3">

            <h6 class="text-muted">Avarage_Price</h6>
            <h3 class="text-truncate">0,0212758889443078</h3>
            <div class="progress" style="height: 5px;">
              <div class="progress-bar bg-primary" style="width: 30%"></div>
            </div>

            <h6 class="text-muted">Max Price</h6>
            <h3>0,0780000937107493</h3>
            <div class="progress" style="height: 5px;">
              <div class="progress-bar bg-success" style="width: 75%"></div>
            </div>

            <h6 class="text-muted">Min Price</h6>
            <h3 class="text-truncate">0,00236782068882726</h3>
            <div class="progress" style="height: 5px;">
              <div class="progress-bar bg-danger" style="width: 50%"></div>
            </div>

          </div>

        </div>
      </div>
    </section>
    </div>
</div>

